.cell {
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.top {
    -fx-border-top-width: 1px;
}

.bottom {
    -fx-border-bottom-width: 1px;
}

.left {
    -fx-border-left-width: 1px;
}

.right {
    -fx-border-right-width: 1px;
}





